<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <title>Item | Funkoshop</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="container item__container">
            <picture class="item__cover">
                <img class="item__img--front" src="<%= item.img_front %>" alt="Funko Baby Yoga">
                <img class="item__img--back" src="<%= item.img_back %>" alt="">
            </picture>
            <article class="item__article">
                <p class="item__article__licence"><%= item.licence_name %></p>
                <h1 class="item__article__name"><%= item.product_name %></h1>
                <p class="item__article__text"> <%= item.product_description %></p>
                <p class="item__article__price"><%= item.roduct_price %></p>
                <div class="item__cart">
                    <!-- <input class="item__article__input" min="1" type="number" name="" id=""> -->
                    
                    <button id="subtract" class="item__quantity" type="button" >-</button>
                    <input  class="item__article__input" type="text" name="quantity" id="quantity" value="1" placeholder="0">
                    <button id="add" class="item__quantity" type="button">+</button>
                    <button class="item__article__add-cart" type="submit">Agregar al Carrito</button>
                    
                </div>
                
                <p class="item__article__promo">Ver métodos de pago - 3 CUOTAS SIN INTERÉS</p>
                
            </article>


        </section>
        <section class="slider__index container glide" >
			<h2 class="slider__title">PRODUCTOS RELACIONADOS</h2> 
			<div class="glide__track " data-glide-el="track">
				<ul class="slider__items glide__slides">		
					<% data.item.forEach(item => { %>
					<article class="card-item">
                        <a  class="card-item__link" href="/shop/item/<%= item.product_id %>">
                            <picture class="card-item__cover">
                                <span class="card-item__tag">Nuevo</span>
                                <img class="card-item__img--front" src="<%= item.img_front %>" alt="">
                                <img class="card-item__img--back" src="<%= item.img_back %>" alt="">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__licence"><%= item.licence_name %></p>
                                <h4 class="card-item__name"><%= item.product_name %></h4>
                                <p class="card-item__price"><%= item.product_price %></p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a> 
					</article>
					<% }); %>
				</ul>
			</div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon class="slider__iconify-icon" icon="tabler:chevron-left"></iconify-icon></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon class="slider__iconify-icon" icon="tabler:chevron-right"></iconify-icon></button>
            </div>
        </section>

    </main>
    <%- include('../partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>   
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="../../js/glide.js"></script>
    <script src="../../js/item.js"></script>
</body>
</html>