<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <title>Admin | Funkoshop</title>
</head>
<body>
    <%- include('../partials/header2') %>
    <main class="container">
        <section class="admin__search">
            <img class="search_icon" src="/img/icons/search_icon.svg" alt="">
            <input class="admin__search__input" type="search" name="" id="" placeholder="código, nombre o categoria">
        </section>
        <section  >
            <div class="admin__container">
                <h1 class="admin__list__title">LISTADO DE PRODUCTOS</h1>
                <div class="admin__add">
                    <p class="admin__add__text" >AGREGAR</p>
                    <a href="/admin/create">
                        <button class="admin__add__button">+</button>

                    </a>
                </div>

            </div>

            <div class="admin__list__container">
                
                <div class="admin__list__detail admin__list__detail-title ">
                    <p>ID</p>
                    <p>Código</p>
                    <p>Nombre del Producto</p>
                    <p>Categoria</p>
                    <p>Imagenes</p>
                    <p></p>
                </div>
                <% data.forEach(item => { %>

                    <div class="admin__list__detail admin__list__detail-item">
                        <p><%= item.product_id %></p>
                        <p><%= item.sku %></p>
                        <p><%= item.product_name %></p>
                        <p><%= item.category_name %></p>
                        <img class="img__mini" src="<%= item.image_front %>" alt="">
                        <img class="img__mini" src="<%= item.image_back %>" alt="">
                        <a href="/admin/edit/<%= item.product_id %>"> <img class="edit_pencil" src="/img/icons/edit_pencil.svg" alt=""></a>
                        <img class="delete_trash" src="/img/icons/delete_trash.svg" alt="">
                    </div>
                <% }); %>

            </div>
        </section>

        
    </main>
    <%- include('../partials/footer') %>   
</body>
</html>