<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <title>EDIT | Funkoshop</title>
</head>
<body>
    <%- include('../partials/header2') %>
    <main class="container">
        <form class="create__form" action="">
            <h1 class="create__form__title">EDITAR ITEM</h1>
            
            <div class="create__form__container">
                <label class="create__form__sub-title" for="">Categoria:</label>
                <select class="create__form__select" name="" id="">
                    <option value="opcion1">FALTA</option>                
                </select>
                <label class="create__form__sub-title" for="">Licencia:</label>
                <select class="create__form__select" name="" id="">
                    <option value="opcion1">FALTA</option>    
                </select>
            </div>
            <div class="create__form__container">
                <label class="create__form__sub-title" for="">Nombre del producto:</label>
                <input class="create__form__input" type="text" name="" id="" placeholder="nombre del producto" value="<%= item.product_name %>">
            </div>
            <div>
                <textarea class="create__form__textarea" placeholder="Descripción del producto" ><%= item.product_description %></textarea>
            </div>
            <div class="create__form__container">
                <label class="create__form__sub-title" for="">SKU:</label>
                <input class="create__form__input" type="text" name="" id="" placeholder="codigo SKU" value="<%= item.sku %>">
                <label class="create__form__sub-title" for="">Precio:</label>
                <input class="create__form__input" type="text" name="" id="" placeholder="Precio del Porducto" value="<%= item.price %>">
                <label class="create__form__sub-title" for="">Stock:</label>
                <input class="create__form__input" type="number" min="1" value="<%= item.stock %>">
            </div>
            <div class="create__form__container">
                <label class="create__form__sub-title" for="">Descuento:</label>
                <input class="create__form__input" type="number" min="0" max="100" placeholder="0%" value="<%= item.discount%>">
                <label class="create__form__sub-title" for="">Cuotas:</label>
                <select class="create__form__select" name="" id="" aria-placeholder="3 Cuotas sin interés">
                    <option value="opcion1">FALTA</option>
                </select>
            </div>
            <div class="create__form__container">
                <label class="create__form__sub-title" for="">Imágenes:</label>
                <input class="create__form__select-img" name="Elegir archivos" type="file">
            </div>
            <div class="edit__form__container-img">
                <div>
                    <img class="edit__form__img" src="<%= item.image_front %>" alt="">
                    <p class="edit__form__text">Frente</p>
                </div>
                <div>
                    <img class="edit__form__img" src="<%= item.image_back %>" alt="">
                    <p class="edit__form__text">Dorso</p>
                </div>
            </div>
            <div class="create__form__button-container">
                <button class="create__form__button" type="submit"> Modificar Producto </button>
            </div>
            
        </form>   
    </main>
    <%- include('../partials/footer')%>
</body>
</html>